
<h1 class='landing-header'>Ez-ToDo</h1>
<p>This quick and easy todo list generator helps to give you scaffolds of to do lists based on different outcomes</p>
<ol class='landing-example'>
  <li>Coding Project</li>
  <li>Life Admin</li>
  <li>Mechanical (Car, Motorbike etc)</li>
</ol>
